
{% extends "base.html" %}
{% block content %}
<div class="bg-blue-100 p-6 rounded-xl shadow-md">
  <h2 class="text-xl font-semibold mb-4">Tambah Jadwal</h2>

  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table-auto w-full">
      {% for form in formset %}
        <tr>
          <td>{{ form.acara }}</td>
          <td>{{ form.tanggal }}</td>
          <td>{{ form.waktu_mulai }}</td>
          <td>{{ form.waktu_selesai }}</td>
        </tr>
      {% endfor %}
    </table>
    <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded-lg mt-4">Simpan</button>
  </form>
</div>
{% endblock %}
